div {
    display: inline-block;
    min-width: 10%;
}
body {
    padding-left: 60px;
    padding-right: 60px;
    line-height: 1.5;
}
table {
    margin: auto;
    border-collapse: separate;
}
td.is_up, td.is_down {
    border-radius: 50%;
    text-align: center;
    vertical-align: center;
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
td.is_up {
    background-color: hsla(103,88%,47%,1);
}
td.is_down {
    background-color: hsla(0,100%,38%,0.7);
}
td {padding: 50px;};

div.stn-warn-red {
    display: inline-table;
    background-color: red;
    border: 1px solid red;
}
div.stn-warn-yellow {
    display: inline-table;
    background-color: yellow;
}
div.stn-warn-green {
    display: inline-table;
    border: 1px green;
}
div.stn-warn-black {
    background-color: black;
}

div.text-warn-red {
    display: inline-table;
    color: red;
}
div.text-warn-yellow {
    display: inline-table;
    color: yellow;
}
div.text-warn-green {
    display: inline-table;
    color: green;
}
div.text-warn-black {
    display: inline-table;
    color: black;
}
