body {
    padding-left: 60px;
    padding-right: 60px;
    line-height: 1.5;
}
div.falcon2 {
    display: inline;
}
div.container {
    display: inline-block;
    margin: 5px;
    padding: 0px;
}
div.station {
    display: inline;
    min-width: 20%;
}
div.warning {
    display: inline;
    min-width: 5%;
}

div.warning.red {
    color: red;
}
div.warning.yellow {
    color: yellow;
}
div.warning.green {
    color: green;
}
div.warning.black {
    color: black;
}

div.container.red {
    border: 5px solid red;
}
div.station.red {
    background-color: red;
    color: black;
}
div.container.yellow { 
    border: 5px solid yellow;
}
div.station.yellow {
    background-color: yellow;
    color: black;
}
div.container.green {
    border: 5px solid green;
}
div.station.green {
    background-color: green;
    color: black;
}
