{% extends "falcon/header.html" %}

{% block content %}

<!--<div class="falcon2">
    {{message}} seconds
</div>-->

<div class="falcon2" style="color:gray;text-align:center;"><h4>Falcon Health Status as of {{timestamp}}</h4></div>

{% for station in stations %}
    {% if station.station_warning_level < 2 %}
    <div class="falcon2 container green">
    <div class="falcon2 station green">
    {% elif station.station_warning_level == 2 %}
    <div class="falcon2 container yellow">
    <div class="falcon2 station yellow">
    {% elif station.station_warning_level == 3 %}
    <div class="falcon2 container red">
    <div class="falcon2 station red">
    {% else %}
    <div class="falcon2 container black">
    <div class="falcon2 station black">
    {% endif %}
    <a href="/falcon2/{{station.net_code}}/{{station.sta_code}}">
    {{station.station_name}}</a></div>

    {% for alert in station.alerts %}
        {% if alert.alert_warning_level == 3 %}
        <div class="falcon2 warning red">
        {% elif alert.alert_warning_level == 1 %}
        <div class="falcon2 warning green">
        {% else %}
        <div class="falcon2 warning black">
        {% endif %}
        <span title="{{alert.alert_value}}">
        {{alert.alert}}</span></div>
    {% endfor %}
    
    {% for channel in station.channels %}
    {% if channel.channel_warning_level == 0 %}
    <div class="falcon2 warning channel black">
    {% elif channel.channel_warning_level == 1 %}
    <div class="falcon2 warning channel green">
    {% elif channel.channel_warning_level == 2 %}
    <div class="falcon2 warning channel yellow">
    {% elif channel.channel_warning_level == 3 %}
    <div class="falcon2 warning channel red">
    {% else %}
    <div class="falcon2 warning channel black">
    {% endif %}
    <a href="/falcon2/{{station.net_code}}/{{station.sta_code}}/{{channel.channel}}" title="{{channel.channel_value}}">
    {{channel.channel}}</a></div>
    {% endfor %}

    </div>
{% endfor %}

{% block alerts %}
{% endblock %}

{% block legend %}
{% endblock %}

{% endblock %}
