{% extends "falcon/header.html" %}

{% block content %}

<br><br>
<br><br>

<!--<style media="screen" type="text/css">
    body {font-familyt: serif;};
    td {padding: 50px;};
    
    td.stn-warn-red    {background-color: red;};
    td #stn-warn-red    {background-color: red;};
    td.stn-warn-yellow {background-color: yellow;};
    td.stn-warn-green  {background-color: green;};
    td.stn-warn-black  {background-color: black; color: white;};

    td.text-warn-red    {color: red;};
    td.text-warn-yellow {color: yellow;};
    td.text-warn-green  {color: green;};
    td.text-warn-black  {color: black;};
</style>-->

<div>
    {{message}} seconds
</div>

{% for station in stations %}
    <div style="display: block;">
    {% if station.station_warning_level < 2 %}
    <div class="stn-warn-green">💚
    {% elif station.station_warning_level == 2 %}
    <div class="stn-warn-yellow">💛
    {% elif station.station_warning_level == 3 %}
    <div class="stn-warn-red">❤️
    {% else %}
    <div class="stn-warn-black">🖤
    {% endif %}
    {{station.station.station_name}}</div>

    {% for alert, warning in station.alerts_dict.items %}
    {% if warning %}
    <div class="text-warn-red">
    {% else %}
    <div class="text-warn-green">
    {% endif %}
    {{alert}}</div>
    {% endfor %}

    </div>
{% endfor %}

{% endblock %}
